header{
    background: #BBBBBB;
    padding: 20px;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;


}
nav a:hover{
    text-decoration: underline;
    color: #c78c19;
}
nav{
    position: absolute;
    top: 110px;
    right: 0px;
}
.produtos{
    width: 940px;
    margin: 0 auto;
    vertical-align: top;
    padding: 50px 0;
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 0.5%;
    padding: 30px 10px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto ;
}
.produtos h2{
    font-size: 30px;
    font-weight: bold;
}
.preço-produto{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}
.descrição-produto{
    font-size: 18px;
}
.produtos li:hover{
    border-color: red;
   
}
.produtos li:active{
  border-color: pink;

}

.produtos li:hover h2{
    font-size: 33px;
}

footer{
    text-align: center;
    background:url("./bg.jpg");
    padding: 40px 0;  
}

.copyright{
    color: #ffffff;
    font-size: 13px;
}

main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

form input{
    margin: 0 0 20px;
    display: block;
    padding: 10px 25px;
    width: 50%;
}
